/* =====base===== */
.html {
    background-color: white;
    padding: 8px;
}
.html p {
    margin: 0;
}
.html br {
    display: none!important;
}

/* =====normalize (liminal)===== */
.html {
    font-size: initial;
    font-family: initial;
}
.html * {
    color: CanvasText;
}
.html ::selection {
    background: Highlight;
    color: HighlightText;
}
.html .code {
    border: inherit;
    background-color: inherit;
    padding: inherit;
}
.html .blockquote {
    position: inherit;
    margin: inherit;
    padding: inherit;
    clear: inherit;
    border: inherit;
    background-color: inherit;
    box-shadow: inherit;
}

/* =====main===== */
.html *:is(.h1, .h2, .h3, .h4, .h5, .h6) {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.html .h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}
.html .h2 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.html .h3 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.html .h4 {
    font-size: 1em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}
.html .h5 {
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
}
.html .h6 {
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
}
.html .p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.html .hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    line-height: 0;
}
.html .b, .html .strong {font-weight: bold;}
.html .code, .html .kbd {font-family: monospace;}
.html .em, .html .i, cite {font-style: italic;}
.html .pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}
.html .small {font-size: smaller;}
.html .address {
    display: block;
    font-style: italic;
}
.html .bdo {unicode-bidi: bidi-override;}
.html .blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.html .del {text-decoration: line-through;}
.html .ins {text-decoration: underline;}
.html .sub, .html .sup {font-size: smaller;}
.html .sub {vertical-align: sub;}
.html .sup {vertical-align: super;}
.html .li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.html .li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
.html .ul, .html .ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.html .ul {list-style-type: disc;}
.html .ol {list-style-type: decimal;}
.html .dl, .html .dt, .html .dd {display: block;}
.html .dl {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.html .dd {margin-inline-start: 40px;}
.html .a {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.html .br {
    display: block;
    font-size: 0;
    line-height: 0;
}
.html .-- {
    display: none!important;
}
.html .div {
    display: block;
}
